*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
        margin: 0;
        font:1em "Open Sans",Sans-serif;
        height: 100%;

        
      }
      .header{
        position:fixed;
        top: 0px;
        left: 0px;
      }
      
      .website{
        text-decoration: none;
        color: orange;
        
      }

      .content{
        padding: 30px;

      }
      .nav-main{
        width: 100%;
        background-color: black;
        height: 70px;
        color: #fff;
        opacity: 0.8;
        position: fixed;
      }
     
      .nav-main .logo{
        float: left;
        height: 40px;
        padding: 15px 30px;
        font-size: 1.4em;
        line-height: 40px;
        color: orange;

      }

      .nav-main > ul{
        margin: 0;
        padding: 0;
        float: right;
        list-style-type: none;
      }
      .nav-main > ul > li{
        float: left;
      }

      .nav-item{
        display: block;
        padding: 15px 20px;
        
        line-height: 40px;
        color: #fff;
        text-decoration: none;
      }

      .nav-item:hover {
        background-color: #F77F20;
        

      }

      .nav-sub{
      display: none;
      text-decoration: none;
      list-style-type: none;
      padding:10;
      margin-top: 0px;
    }
    
    .nav-sub li a{
      
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      list-style-type: none;
      background-color: black;
      opacity: 0.8;
      color: white; 
      

    }

    .items li:first-child:hover .nav-sub{ 
        display:block; 
      }
      .nav-sub li a:hover{
        background-color:#FE7B00;
        display: block;
      }

      h1{
        font-size: 3rem;
        font-weight: 40;
        margin: 8rem 0 2rem;
        color: #fff;
      }
      
      .styling{
        font-weight: 800;
        color: black;
        margin: 600px;
        


      }

      .input_div{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 310px;
        margin-top: -80px;
              }
      .input_div .input{
        padding: 0.6rem 1rem;
        height: 30px;
        outline: none;
        background-color: #fff;
        width: 450px;
        font-size: 1.15rem;
        margin: 0.05rem;
        border-radius: 20px;
      }

      .addbutton{
        margin-left: 10px;
        border-radius: 15px;
        height: 30px;
        width: 65px;
        color: lime;
        background-color: black;

      }
      .addbutton:hover{
        opacity: 0.8;
      }

      .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-left: 300px;
      }
      .item{
        padding: 0.5rem;
        margin-bottom: 0;
        

      }
      .item_input{
        background: none;
        outline: none;
        color: black;
        border: none;
        width: 300px;
        font-size: 1.4rem;
      }
      .editButton{
        font-size: 0.75rem;
        margin: 0 0.85rem;
        border-radius: 15px;
        height: 30px;
        width: 75px;
        color:yellow;
        background-color: black;
        cursor: pointer;

      }
      .removeButton{
        font-size: 0.75rem;
        margin: 0 0.5rem;
        border-radius: 15px;
        height: 30px;
        width: 75px;
        color:red;
        background-color: black;
        cursor: pointer;
      }
      .input_div .input{
        padding: 0.5rem 1rem;
      }
      footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px 0;
        background-color: black;
        opacity: 0.9;
        color: orange;
        text-align: center;
      }
      